<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Caculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E03AB2121DD032A5001232E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03AB22B1DD032A5001232E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03AB2361DD032A5001232E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
